<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ywc.dao.MenuMapper">
    
    
    <resultMap id="menuResult" type="com.ywc.domain.Menu">
        <id column="id" property="id"></id>
        <result column="href" property="href"></result>
        <result column="icon" property="icon"></result>
        <result column="name" property="name"></result>
        <result column="parent_id" property="parentId"></result>
        <result column="description" property="description"></result>
        <result column="orderNum" property="order_num"></result>
        <result column="shown" property="shown"></result>
        <result column="created_time" property="createdTime"></result>
        <result column="updated_time" property="updatedTime"></result>
        <result column="created_by" property="createdBy"></result>
        <result column="updated_by" property="updatedBy"></result>
        <collection property="subMenuList" ofType="com.ywc.domain.Menu" select="findSubMenuListById" column="id">

        </collection>
    </resultMap>
    <select id="findSubMenuListById" parameterType="int" resultMap="menuResult">

        select * from menu WHERE parent_id=#{id}
    </select>
<!--查询所有菜单信息-->
        <select id="findAllMenu" resultType="com.ywc.domain.Menu">
            select * from menu



        </select>
<!--根据Id查询Menu-->
    
    <select id="findMenuById" resultType="com.ywc.domain.Menu" parameterType="int">
        select * from menu where id=#{id}





    </select>



</mapper>